<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Homepage</h1>
    <% if (locals.user) { %>
        <a href="/create">Create a new message</a>
    <% } else { %>
        <a href="/login">Log-in</a>
    <% } %>
    <h2>Messages</h2>
    <% locals.messages.forEach(message => { %>
        <ul>
            <li>Title: <%= message.title %></li>
            <li>Text: <%= message.text %></li>
            <% if (locals.user) { %>
                <% if (locals.user.membership === "vip") { %>
                    <li>Date: <%= message.timestamp %></li>
                    <li>User: <%= message.username %></li>
                    <% if (locals.user.admin === true) { %>
                        <form action="/delete/<%=message.id%>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    <% } %>
                <% } %>
            <% } %>
            
        </ul>
    <% }) %>

</body>
</html>